In [1]:
# Q1
# There are three types of comments
# Single Line
# Multi Line
# DocString comments

# Single Line
# These are denoted by # symbol

#Multiline Comments
''' This is an 
example of a
multiline comment
'''

"""
This is also an 
example of a 
multiline comment
"""

# Docstring Comments
'''
Python provides an in-built feature called
docstrings for commenting on modules, 
methods, functions, objects, and classes. 
They are written in the first line after defining a module, 
function, method, etc.,
using three quotation marks (‘’ or “”). 
'''

'\nPython provides an in-built feature called\ndocstrings for commenting on modules, \nmethods, functions, objects, and classes. \nThey are written in the first line after defining a module, \nfunction, method, etc.,\nusing three quotation marks (‘’ or “”). \n'

In [2]:
#Q2
'''
Python variable is stores the memory location of the object created
it is the basic unit of storing data
'''
# Declaring Variables
var= 9
print(type(var))
var

<class 'int'>

9

In [7]:
#Q3
# we can convert one data type tp another data type using type casting
f =2.13
print(type(f))
f = int(f)
print(type(f))
ch = '10'
print(type(ch))
ch = int(ch)
print(type(ch))

<class 'float'>
<class 'int'>
<class 'str'>
<class 'int'>

In [1]:
l = [1,2,'siddh',27.99,True,[1,2,3],2+3j]

In [2]:
for i in l:
    print(i)
    print(type(i))

1
<class 'int'>
2
<class 'int'>
siddh
<class 'str'>
27.99
<class 'float'>
True
<class 'bool'>
[1, 2, 3]
<class 'list'>
(2+3j)
<class 'complex'>

In [7]:
a = int(input("Enter the number A"))
b = int(input("enter the number B"))
if(a%b==0):
        count=0;
        while(a%b==0):
            count+=1
            a/=b
        print("a is divisible by b",count,"times")
else:
    print("a is not divisible by b")

Enter the number A 54
enter the number B 3

a is divisible by b 3 times

In [8]:
l = list(range(1,26))

In [10]:
for i in l:
    if(i%3==0):
        print(i,"is divisilbe by 3")
    else:
        print(i,"is not divisible by 3")

1 is not divisible by 3
2 is not divisible by 3
3 is divisilbe by 3
4 is not divisible by 3
5 is not divisible by 3
6 is divisilbe by 3
7 is not divisible by 3
8 is not divisible by 3
9 is divisilbe by 3
10 is not divisible by 3
11 is not divisible by 3
12 is divisilbe by 3
13 is not divisible by 3
14 is not divisible by 3
15 is divisilbe by 3
16 is not divisible by 3
17 is not divisible by 3
18 is divisilbe by 3
19 is not divisible by 3
20 is not divisible by 3
21 is divisilbe by 3
22 is not divisible by 3
23 is not divisible by 3
24 is divisilbe by 3
25 is not divisible by 3

In [11]:
''' Strings and lists both have indexing
but you cannot change any specific character at the index like
str[2] = 'a' you will have to overrite the entire string with the changes
hence strings are immutable
but you can change the values of lists at a certain index
hence lists are mutable
Pls check the below example
'''

" Strings and lists both have indexing\nbut you cannot change any specific character at the index like\nstr[2] = 'a' you will have to overrite the entire string with the changes\nhence strings are immutable\nbut you can change the values of lists at a certain index\nhence lists are mutable\nPls check the below example\n"

In [12]:
name = 'siddh'

In [13]:
name[0]='i'

TypeError: 'str' object does not support item assignment

In [14]:
l = [1,2,3]

In [15]:
l[0] = 9

In [16]:
l

[9, 2, 3]